.fac-tableContainer {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.fac-tableWrapper {
  width: 100%;
  overflow-y: auto;
  max-height: 500px;
}

.fac-table {
  width: 100%;
  border-collapse: collapse;
}

.fac-table th,
.fac-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.fac-table th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #005ca3;
  color: white;
  text-align: left;
}

.fac-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.fac-table tr:hover {
  background-color: #e0f7fa;
}

.fac-tableWrapper::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.fac-tableWrapper::-webkit-scrollbar-thumb {
  background-color: #005ca3;
  border-radius: 4px;
}

.fac-tableWrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}
